@model MvcCodeTestLib.User_List_AddNew

@{
    ViewData["Title"] = "Add - Display - Search Data";
}

<style>
    .titleSpan {
        background-color: lightgoldenrodyellow;
        color: red;
    }
</style>


<div class="text-center">
    <h3 class="display-6">
        <span class="titleSpan"><u>Add - Display - Search Data Test</u></span>
    </h3>
</div>

<div class="row">
    <div class="col-sm-5">
        <div id="addNewUser">    
            <partial name="_AddNewUser" model="Model" />
        </div>
    </div>      
    <div class="col-sm-5">
        @if (Model.Users.Count()>0)
        {
            <p></p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                    </tr>
                </thead>
                <tbody id="usersTableBody">
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p></p>
            <div class="container"
                 style="color:red; font-size:xx-large;">
                User NOT Found!
            </div>
            <p></p>
        }
    </div>
</div>


    @section Scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                // $('#usersTableBody').html('');

                var newUser = {
                };
                var users = [];
                var lastId = @Model.Users.Count();

                var totalCount = @Model.Users.Count();
                console.log(totalCount);


                function addNewUserToTable(newUser) {

                    if (users.length < 1) {
                        // no previous add                        
                    }
                    else {
                        // previously added
                        var lastAddedUserId = users[users.length - 1].id;
                        newUser.id = lastAddedUserId + 1;
                    }

                    var container = $('#usersTableBody');
                    var tr = $('<tr>');
                    tr.append('<td>' + newUser.id + '</td><td>'+ newUser.name + '</td><td>'+newUser.address+ '</td>');
                    container.append(tr);

                    users.push(newUser);
                    console.log(users);
                }



                // child call back to parent
                // to add new user
                $(document).on('click', '.newUserBtn', function () {
                    var form = $('#userForm');
                    var sendData = form.serialize();

                    console.log(sendData);

                    var id = totalCount + 1;
                    var name = $('#Name').val();
                    var address = $('#Address').val();
                    newUser = {
                        id: id,
                        name: name,
                        address : address
                    };
                    console.log(newUser);

                    // append new user to table
                    addNewUserToTable(newUser);

                });




            });
        </script>
    }
